form {
    text-align: center;
}

input {
    width: 340px;
    height: 30px;
}

.item {
    display: block;
    width: 340px;
    float: left;
}

.text {
    padding-bottom: 10px;
}

.help {
    margin-top: 10px;
    font-size: 9pt;
}

.order {
    margin-top: 20px;
}

.block {
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.separator {
    margin-left: 108px;
}